<div class = "jumbotron">
  <h1>Welcome Beloved Hair Salon Owner to your Hair Salon App!</h1>
  <h3>Where you can be the best owner you can be.</h3>
</div>

<h3>What would you like to do?</h3>

<form action = "/stylists">
  <button type = "submit" class = "btn-primary">View your stylists</button>
</form>

<br>

<form action = "/clients">
  <button type = "submit" class = "btn-primary">View your clients</button>
</form>
